@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

:root {
  --header-bg-color: rgb(90, 117, 115);
  --sections-bg-color: rgba(108, 138, 136, 0.2);
  --btn-bg-color: #ffd6ba;
  --font-color: #fff;
  --header-sections-left-margin: 30px;
  --sections-icons-color: #555b6e;
  --form-margin: 10px;
  --btn-color: rgba(90, 117, 115, 0.8);
  --btn-hover-color: rgba(90, 117, 115, 0.9);
  --font-dark: rgb(55, 71, 70);
}

body {
  font-family: "Nanum Myeongjo", serif;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 7vh 93vh;
  grid-template-areas:
    "header header"
    "sections content";
  overflow: hidden;
  margin: 0;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--header-bg-color);
  align-items: center;
}

h1 {
  color: var(--font-color);
  font-size: 38px;
  font-weight: lighter;
  margin: 0 0 0 var(--header-sections-left-margin);
}

.sections-panel {
  grid-area: sections;
  display: flex;
  flex-direction: column;
  background-color: var(--sections-bg-color);
}

button {
  font-family: inherit;
  font-size: 25px;
  font-weight: 500;
  border: none;
  background: none;
  cursor: pointer;
  padding: 25px;
  text-align: left;
}

.section {
  padding-left: var(--header-sections-left-margin);
}

.fa-inbox,
.fa-calendar-day,
.fa-calendar-week,
.fa-project-diagram {
  color: var(--sections-icons-color);
}

.project-container {
  border-top: 1px solid var(--sections-icons-color);
  display: flex;
  flex-direction: column;
}

.todo-project {
  font-family: inherit;
  font-size: 22px;
  color: var(--font-dark);
  padding: 15px;
  text-align: right;
  cursor: pointer;
  margin: 0;
}

.todo-project:hover {
  background-color: rgba(108, 138, 136, 0.3);
}

.main-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.todo-content {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  margin: 15px;
  align-items: center;
}

.todo-icon {
  margin: 10px;
}

.todo-title,
.todo-icon {
  cursor: pointer;
}

.todo-title {
  margin-left: 5px;
}

#add-task {
  color: #fff;
  justify-self: end;
  border: none;
  width: auto;
  height: auto;
}

.fa-plus {
  margin-right: 20px;
  font-size: 20px;
}

#add-project {
  font-size: 15px;
  text-align: right;
  font-weight: bolder;
  width: fit-content;
  height: fit-content;
  align-self: flex-end;
  padding: 10px;
  margin: 10px 30px 0 0;
  background-color: var(--btn-color);
  color: var(--font-color);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#add-project:hover {
  background-color: var(--btn-hover-color);
}

#add-project:active {
  background-color: var(--btn-hover-color);
  transform: scale(0.95);
}

.form-container,
.details-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  color: var(--font-dark);
}

.form-wrapper,
.project-form-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  border: 2px solid var(--header-bg-color);
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  width: 30vw;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "heading close"
    "form form";
}

.form-wrapper h3,
.project-form-wrapper h3 {
  grid-area: heading;
  align-self: center;
  margin-left: var(--form-margin);
  font-size: 1.3rem;
}

#close-form {
  grid-area: close;
  justify-self: end;
  align-self: start;
  padding: 0;
  margin: 5px var(--form-margin) 0 0;
}

#close-form i,
#close-details i {
  font-size: 20px;
  color: var(--font-dark);
  cursor: pointer;
}

#close-form i:hover,
#close-details i:hover {
  color: var(--btn-hover-color);
}

#close-form i:active,
#close-details i:active {
  color: var(--btn-hover-color);
  transform: scale(0.95);
}

#add-task-form {
  font: inherit;
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "title duedate"
    "description priority"
    "description project"
    ". submit";
  grid-gap: 10px;
}

#add-task-form label,
#add-project-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select,
textarea {
  color: var(--font-dark);
}

.form-title {
  grid-area: title;
}

.form-description {
  grid-area: description;
}

.form-due-date {
  grid-area: duedate;
}

.form-priority {
  grid-area: priority;
}

.form-project {
  grid-area: project;
}

.form-title,
.form-description,
.form-due-date,
.form-priority,
.form-project {
  display: flex;
  flex-direction: column;
  margin: 0 var(--form-margin);
}

#form-submit {
  grid-area: submit;
  width: 80px;
  height: 30px;
  justify-self: end;
  align-self: center;
  margin-right: var(--form-margin);
  background-color: var(--btn-color);
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

#form-submit:hover {
  background-color: var(--btn-hover-color);
}

#form-submit:active {
  background-color: var(--btn-hover-color);
  transform: scale(0.95);
}

#add-project-form {
  font: inherit;
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "title title"
    ". submit";
  grid-gap: 10px;
}

.details-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  border: 2px solid var(--header-bg-color);
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  width: 50vw;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

#close-details {
  justify-self: end;
  align-self: start;
  padding: 0;
  margin: 5px var(--form-margin) 0 0;
}

.details-wrapper h3,
.details-wrapper p {
  margin: 0 0 0 10px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 1100px) {
  .form-wrapper,
  .project-form-wrapper {
    width: 60vw;
  }
}
