@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

:root {
  --header-bg-color: rgb(90, 117, 115);
  --sections-bg-color: rgba(108, 138, 136, 0.2);
  --btn-bg-color: #ffd6ba;
  --font-color: #fff;
}

body {
  font-family: "Nanum Myeongjo", serif;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 7vh 93vh;
  grid-template-areas:
    "header header"
    "sections content";
  overflow: hidden;
  margin: 0;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--header-bg-color);
  align-items: center;
}

h1 {
  color: var(--font-color);
  font-size: 38px;
  font-weight: lighter;
  margin: 0 0 0 50px;
}

.sections-panel {
  grid-area: sections;
  display: flex;
  flex-direction: column;
  background-color: var(--sections-bg-color);
}
button {
  font-family: inherit;
  font-size: 25px;
  font-weight: 500;
  border: none;
  background: none;
  cursor: pointer;
  margin: 20px;
  padding: 0;
}

.main-content {
  grid-area: content;
}

#add-task {
  color: #fff;
  justify-self: end;
  border: none;
  width: auto;
  height: auto;
}

.fa-plus {
  margin-right: 20px;
  font-size: 20px;
}

#add-project {
  font-size: 15px;
}
